<div class="intro" id="intro">
    <div class="right">
        <div class="image">
            <img src="assets/profile.png">
        </div>
    </div>
    <div class="left">
        <h2>Hi There, I' m;</h2>
        <h1>Nindaba Arthur</h1>
        <h3>  
            <div class="title">Full Stack Developer</div> 
            <div class="dollar">>$ </div>
            <div class="sub-title">Welecome to my Portfolio</div>
            <div class="command"></div>
        </h3>
        <p>
            I like working with Java, Spring Boot and Angular
        </p>
        <div class="scroll">
            <a href="#projects"><mat-icon>keyboard_double_arrow_down</mat-icon></a>
            <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
        </div>
    </div>
    
</div>
