@import "../../../styles.scss";
.intro{
    background-color: white;
    overflow-y: hidden;
    scroll-snap-align: start;
    display: flex;
    
    .right{
        flex: .25;
        .image{
            width: 100%;
            height: 100%;
        }
    }
    .left{
        flex: .75;
        font-family:monospace;
        height: 100%;
        // line-height: 1em;
        h1{
            font-size: 4em;
            // line-height: 1em;
        }
        h2{
            margin-top: 20%;
        }
        h3{
            display: flex;
            flex-direction: row;
            align-items: center;
            .title{
                color: #00ff00;
            }
            .sub-title{
                animation: prompt 2s infinite ;
                overflow: hidden;
                word-break: break-all;
                height: 1em;
                @keyframes prompt{
                    0%{
                       width: 0;
                    }
                    100%{
                        width: 210px;
                    }
                }
            }
            .dollar{
                margin: 0 0.5em;
            }
            .command{
                animation: terminal 1s infinite;
                width: 2px;
                height: 16px;
                margin: 0 1px;
                @keyframes terminal {
                    0%{
                        background-color: white;
                    }
                    20%{
                        background-color: white;
                    }
                    80%{
                        background-color: black
                    }
                    100%{
                        background-color: black;
                    }
                }
            }
            p{
                font-family: sans-serif;
            }
        }
        .scroll{
            display: none;
            margin: 10% 20%;
            cursor: pointer;
            .mat-icon{
                font-size: 64px;
                color: $mainColor;
                animation: scroller 2s infinite;
            }
            @keyframes scroller {
                0%{
                    opacity: .5;
                }
                100%{
                    opacity: 1;
                }
            }
        }
    }
}

