<div class="projects" id="projects">
    <h1>
        <mat-icon>laptop</mat-icon>
        Projects
    </h1>
    <div class="container">
        <div class="project" *ngFor="let project of projects">
            <div class="logo">
                <img class="logo" src="{{project.image}}">
            </div>
            <div class="description">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
            </div>
            <div class="footer">
                <a class="image" href="{{project.location}}">
                    <img src="assets/github.png">
                </a>
                <a *ngIf="project.hosted" href="{{project.hosted}}">
                    <img src="assets/azure.png">
                    Check live on azure web services
                </a>
            </div>
        </div>
    </div>
    <div class="slider">
        <!-- <mat-icon>arrow_circle_left</mat-icon>
        <mat-icon>circle_outlined</mat-icon>
        <mat-icon>arrow_circle_right</mat-icon> -->
        <!-- <mat-icon>fiber_manual_record</mat-icon>
        <mat-icon>circle</mat-icon>
        <mat-icon>fiber_manual_record</mat-icon> -->
    </div>
</div>
